<nav>
        <div class="nav-wrapper blue-grey darken-4 d-flex px-5 nav-bar-wrapper position-relative justify-content-center">
                <div class='menu-wrapper d-flex align-items-center position-absolute'>
                    <i class="fas fa-bars sidenav-trigger d-flex align-items-center" data-target="slide-out"></i>
                </div>
                <span class="title-dash text-center">Story App</span>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav py-5">
        <div class="collection ">
            <a href="/story/public" class="collection-item px-4 blue-grey-text text-darken-4"><i class="fas fa-sign-out-alt mr-4"></i>Public Stories</a>
            <a href="/dashboard" class="collection-item px-4 blue-grey-text text-darken-4"><i class="fas fa-sign-out-alt mr-4"></i>Dashboard</a>
            <a href="/logout" class="collection-item px-4 mt-5 blue-grey-text text-darken-4"><i class="fas fa-sign-out-alt mr-4"></i>Logout</a>
          </div>
    </ul>