<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <%- include('./partials/header_links.ejs') %>
</head>
<body>
    <%- include('./partials/dashboard_header') %>
    <%- include('./partials/dashboard_content') %>
    <%- include('./partials/footer_scripts.ejs') %>
    <script>
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    </script>
</body>
</html>