<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <%- include('./partials/header_links.ejs') %>
</head>
<body>
    <div class="container px-0">
            <div class="card d-flex align-items-center flex-column mx-auto py-4 login-card">
                <span class="title-card"><i class="fas fa-book-reader mr-2"></i>StoryBooks</span>
                <span class="mt-3">Create public and private stories with your life</span>
                <div class="divider mt-2"></div>
                <a href="auth/google" class="btn red darken-1 mt-2"><i class="fab fa-google"></i><span class="ml-3">LOG IN WITH GOOGLE</span></a>
            </div>
        </div>
        </div>
    </div>
    
    <%- include('./partials/footer_scripts.ejs') %>
</body>
</html>