*{
    font-family: 'Roboto', sans-serif;
}

.login-card{
    max-width: 400px;
    width:90%;
}

.title-card{
    font-size: 2.5rem;
    font-weight: 700;
}

.title-dash{
    flex-grow: 1;
}

.nav-bar-wrapper{
    font-size: 1.5rem;
}

.edit-btn{
    top:-1px;
    right:-2px;
    width: 30px !important;
    height: 30px !important;
}

.story-title{
    font-weight: 600 !important;
    font-size: 1.2rem !important;
}

.menu-wrapper{
    top: 0;
    bottom: 0;
    left:0;
}

.story-user-img-wrapper{
    width: 80%;
    max-width: 200px;
}

.story-user-name{
    font-size: 1.05rem;
    font-weight: 700;
}

.container{
    padding-bottom: 30px;
}

.ck-content{
    min-height: 250px;
}